.button {
    width: 234px;
    height: 44px;

    border-radius: 0.25rem;
    border: none;

    background: var(--green-button);
    color: var(--white);
    transition: filter 0.2s;

    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.25rem;
    
    &:hover {
        filter: brightness(0.8);
    }

    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }
}