* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;

    --gray-background: #F2F2F2;
    --gray-darker: #4A4A4A;
    --gray-24: #3D3D3D;

    --brand-color: #5E20A4;

    --green-success: #00C88C;

    --green-button: #00A870;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
  background: var(--gray-background);
  color: var(--gray-darker);
}

body, input, textarea, select, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}